  <section id="footer" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="footer_1 clearfix">
       <div class="col-sm-3">
      <div class="footer_1l clearfix">
        <h2 class="mgt"><a href="#"><span class="col_1">FLYCAM</span> Store</a></h2>
        <div class="footer_1m clearfix">
        <p style="font-weight: bold;">Xin Chào Quý Khách</p></div>
        <div class="uiScaledImageContainer _2zfr" style="width:217px;height:130px; margin: 0 0 0 -114px;"><img class="scaledImageFitHeight img" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t1.6435-9/s526x296/32089173_2032297557034696_452975103899074560_n.jpg?_nc_cat=104&amp;ccb=1-5&amp;_nc_sid=dd9801&amp;_nc_ohc=2E-_80jHFkcAX9V1oKg&amp;_nc_ht=scontent.fhan14-1.fna&amp;edm=AASjF90EAAAA&amp;oh=4da0a0411a33ea705fa06493beb66b76&amp;oe=61568234" data-src="https://scontent.fhan14-1.fna.fbcdn.net/v/t1.6435-9/s526x296/32089173_2032297557034696_452975103899074560_n.jpg?_nc_cat=104&amp;ccb=1-5&amp;_nc_sid=dd9801&amp;_nc_ohc=2E-_80jHFkcAX9V1oKg&amp;_nc_ht=scontent.fhan14-1.fna&amp;edm=AASjF90EAAAA&amp;oh=4da0a0411a33ea705fa06493beb66b76&amp;oe=61568234" style="left:-66px;" alt="'1. Trả góp bằng giấy tờ với lãi suất cực thấp với công ty tài chính uy tín.
         
          Quý khách hàng phải có thẻ tín dụng (Visa/Master/JCB) được phát hành bởi một trong các ngân hàng: Sacombank, Shinhan, ANZ, HSBC, VIB, Seabank, Maritimebank, Standard Charterd, SCB, Citibank, FE Credit, Nam Á, OCB, TP Bank, Kiên Long Bank, Eximbank, Techcombank, VP bank và vẫn còn thời hạn sử dụng.
          Vào thời điểm thanh toán, số dư hạn mức tiêu dùng trong thẻ tín dụng của chủ thẻ phải lớn hơn hoặc bằng tổng giá trị giao dịch.
          Chủ thẻ phải thông báo với ngân hàng phát hành thẻ để xác nhận về giao dịch trả góp vừa thực hiện.'" width="351" height="130" caption="'1. Trả góp bằng giấy tờ với lãi suất cực thấp với công ty tài chính uy tín.
          Yêu cầu:
          Tuổi từ 20 - 60 (tính theo ngày tháng năm sinh trên CMND)connect
          Chứng minh nhân dân còn hạn sử dụng (15 năm tính từ ngày cấp)
          Hộ khẩu (người mua hàng phải có tên trong hộ khẩu). Nếu khoảng vay dưới 10 triệu có thể thay thế hộ khẩu bằng bằng lái xe
          Công ty tài chính chỉ kiểm tra xong và gửi lại không giữ bất cứ giấy tờ gì của khách hàng.
          2. Trả góp bằng thẻ tín dụng
          Yêu cầu
          Quý khách hàng phải có thẻ tín dụng (Visa/Master/JCB) được phát hành bởi một trong các ngân hàng: Sacombank, Shinhan, ANZ, HSBC, VIB, Seabank, Maritimebank, Standard Charterd, SCB, Citibank, FE Credit, Nam Á, OCB, TP Bank, Kiên Long Bank, Eximbank, Techcombank, VP bank và vẫn còn thời hạn sử dụng.
          Vào thời điểm thanh toán, số dư hạn mức tiêu dùng trong thẻ tín dụng của chủ thẻ phải lớn hơn hoặc bằng tổng giá trị giao dịch.
          Chủ thẻ phải thông báo với ngân hàng phát hành thẻ để xác nhận về giao dịch trả góp vừa thực hiện.'"></div>
          
          
      </div>
     </div>
     <div class="col-sm-3">
      <div class="footer_1m clearfix">
       <h4>LIÊN HỆ VỚI CHÚNG TÔI QUA ĐÂY</h4>
       <p><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;"><span style="color: black;"><strong>Hotline</strong>:</span>&nbsp;0901 814 818 </span></p>
       <p><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;"><span style="color:black;"><strong>Bảo Hành:</strong> </span>0902 555 933</span></p>
       <p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: #00ff00;"><span style="color:black;"><strong>Khiếu Nại:</strong></span>&nbsp;</span>&nbsp;<a href="vuduyhaianh.123@gmail.com">Tuongthehaianh@gmail.com</a>&nbsp;</span></p>

         <ul class="social-network social-circle">
                           <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                           <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                           <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                       </ul>
      </div>
     </div>
     <div class="col-sm-3">
      <div class="footer_1r clearfix">
       <h4>THÔNG TIN</h4>
       <ul>
        <p><span style="font-size: 11pt; color:black; font-family: arial, helvetica, sans-serif;"><strong>TP&nbsp;Hưng Yên</strong></span></p>
        <p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">Cơ Sở 1:&nbsp;Số 11 Đường Nguyễn Văn Cừ,Thị Xã Mỹ Hào</span></p>
        <p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">Cơ Sở 2:&nbsp;Số 17 Ngã Tư Phố Nối,Thị Trấn Bần Yên Nhân</span></p>
        <p><span style="font-size: 11pt; color: darkgray ;font-family: arial, helvetica, sans-serif;">&nbsp;T2 - T7: 9:00 - 21:00| CN &amp; Ngày lễ 9:00-18:00</span></p>
       
        
       </ul>
      </div>
     </div>
     <div class="col-sm-3">
      <div class="footer_1r clearfix">
       <h4>CHÍNH SÁCH</h4>
       <ul style="list-style-type: circle;">
        <li><span style="font-size: 10pt;"><a href="../../thamkhao/huong-dan-mua-hang/2.html">Hướng dẫn mua hàng</a></span></li>
        <li><span style="font-size: 10pt;"><a href="../../about.html">Chính sách bảo mật thông tin</a></span></li>
        <li><span style="font-size: 10pt;"><a href="../../thamkhao/chinh-sach-van-chuyen/3.html">Chính sách trả góp</a></span></li>
        <li><span style="font-size: 10pt;"><a href="../../thamkhao/chinh-sach-doi-hang/5.html">Chính sách đổi trả</a></span></li>
        <li><span style="font-size: 10pt;"><a href="../../thamkhao/chinh-sach-bao-hanh/4.html">Chính sách bảo hành</a></span></li>
        <li><span style="font-size: 10pt;"><a href="../../cnews/tuyen-dai-ly-loa-keo-toan-quoc-voi-nhieu-chinh-sach-uu-dai/49.html">Liên hệ mua giá sỉ</a></span></li>
        <a href="tel:Giấy Phép hộ Doanh Số 41N8029572  Do UBND thị xã Mỹ Hào Cấp Ngày 19/10/2015 –  Dương Công Nhật Linh">Giấy Phép hộ Doanh Số 41N8029572  Do UBND thị xã Mỹ Hào  Cấp Ngày 19/10/2015 –  Tường Thế Hải Anh</a>
        <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=29702"><img style="width:200px;max-width:100%;" src="//bizweb.dktcdn.net/100/141/128/themes/183028/assets/logo-bocongthuong.png?1492676663675"></a>
        </ul>
        <br>
      </div>
     </div>
     
     
      </div>
     
     </div>
    </div>
   </section>