<section id="menu" class="clearfix cd-secondary-nav">
    <nav class="navbar nav_t">
      <div class="container">
          <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><i class="fa fa-wrench"></i> <span class="col_1">Tool</span> Store</a>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
          <li><a class="m_tag active_tab" href="index.html">Trang Chủ</a></li>
          <li class="dropdown">
              <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Sản Phẩm<span class="caret"></span></a>
              <ul class="dropdown-menu drop_3" role="menu">
              <li><a href="/product"> Tất Cả Sản Phẩm</a></li>
              <li><a class="border_none" href="/productdetail">Chi Tiết Sản Phẩm</a></li>
              </ul>
                      </li>
          <li class="dropdown">
              <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
              <ul class="dropdown-menu drop_3" role="menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a class="border_none" href="blog_detail.html">Blog Detail</a></li>
              </ul>
                      </li>
          
          <li><a class="m_tag" href="about.html">About Us</a></li>
          <li><a class="m_tag" href="services.html">Services</a></li>
          <li><a class="m_tag" href="contact.html">Contact</a></li>
          <li class="dropdown">
              <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
              <ul class="dropdown-menu drop_3" role="menu">
              <li><a href="cart.html">Cart</a></li>
              <li><a class="border_none" href="checkout.html">Checkout</a></li>
              </ul>
                      </li>
          <li class="dropdown dropdown-large">
          <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
          
          <ul class="dropdown-menu dropdown-menu-large row">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">SHOP LAYOUTS</li>
                <li><a href="#">Available glyphs</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#">Example</a></li>
                <li><a href="#">Aligninment options</a></li>
                <li><a href="#">Headers</a></li>
                <li><a href="#">Disabled menu items</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">OTHER PAGES</li>
                <li><a href="#">Basic example</a></li>
                <li><a href="#">Button toolbar</a></li>
                <li><a href="#">Sizing</a></li>
                <li><a href="#">Nesting</a></li>
                <li><a href="#">Vertical variation</a></li>
                <li><a href="#">Single button dropdowns</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">PRODUCT TYPES</li>
                <li><a href="#">Basic example</a></li>
                <li><a href="#">Button toolbar</a></li>
                <li><a href="#">Sizing</a></li>
                <li><a href="#">Nesting</a></li>
                <li><a href="#">Vertical variation</a></li>
                <li><a href="#">Single button dropdowns</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">OTHER TYPES</li>
                <li><a href="#">Basic example</a></li>
                <li><a href="#">Button toolbar</a></li>
                <li><a href="#">Sizing</a></li>
                <li><a href="#">Nesting</a></li>
                <li><a href="#">Vertical variation</a></li>
                <li><a href="#">Single button dropdowns</a></li>
              </ul>
            </li>
          </ul>
          
        </li>
        </ul>
            
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    
    </section>
    