<section id="center" class="clearfix center_home">
    <div class="container">
     <div class="row">
      <div class="center_home_1 clearfix">
       <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                     <div class="col-sm-6">
                      <div class="center_home_l clearfix">
                       <h4 class="mgt">World Best Quality</h4>
                       <h1>Lorem Ipsum Sit </h1>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                       <h5 class="normal"><a class="button" href="#">Shopping Now</a></h5>
                      </div>
                     </div>     
                     <div class="col-sm-6">
                      <div class="center_home_r clearfix">
                       <img src="/  assets/template/img/2.png" class="iw" alt="abc">
                      </div>
                     </div>           
                    </div>
                    <div class="item active">
                     <div class="col-sm-6">
                      <div class="center_home_l clearfix">
                       <h4 class="mgt">World Best Quality</h4>
                       <h1>Elit Sed Do Eiu</h1>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                       <h5 class="normal"><a class="button" href="#">Shopping Now</a></h5>
                      </div>
                     </div>     
                     <div class="col-sm-6">
                      <div class="center_home_r clearfix">
                       <img src="assets/template/img/4.jpg" class="iw" alt="abc">
                      </div>
                     </div>           
                    </div>
                </div>
            </div>
      <div class="sell_1 clearfix">
                
                <div class="col-sm-12">
                    <!-- Controls -->
                    <div class="controls text-center">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                    </div>
                </div>
            </div>
      </div>
     </div>
    </div>
    </section>
    <section id="Categ">
        <div class="container">
         <div class="row">
          <div class="Categ_1 clearfix">
           <div class="col-sm-12">
            <h3 class="mgt">Popular Categories</h3>
           <hr>
           </div>
          </div>
          <div class="Categ_2 clearfix">
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/5.jpg" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(10 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/6.jpg" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(12 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/7.png" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(15 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/8.png" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(20 Items)</h6>
            </div>
           </div>
          </div>
          <div class="Categ_2 clearfix">
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/9.jpg" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(30 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/10.jpg" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(20 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/11.png" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(10 Items)</h6>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="Categ_2i clearfix">
             <a href="#"><img src="assets/template/img/12.png" alt="abc"></a>
             <h4 class="mgt"><a href="#">Parts Box</a></h4>
             <h6>(25 Items)</h6>
            </div>
           </div>
          </div>
         </div>
        </div>
       </section>
       <section id="collection">
        <div class="container">
         <div class="row">
          <div class="collect_1 clearfix">
           <div class="col-sm-4">
            <div class="collect_1l clearfix">
             <div class="col-sm-5 space_all">
              <div class="collect_1ll clearfix">
               <h4 class="mgt col_2">New Tools</h4>
               <h3>20% Off</h3>
               <h6><a class="button mgt" href="#"> Shop Now</a></h6>
              </div>
             </div>
             <div class="col-sm-7 space_right">
              <div class="collect_1lr clearfix">
               <a href="#"><img src="assets/template/img/13.jpg" alt="abc" class="iw"></a>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-4">
            <div class="collect_1l clearfix">
             <div class="col-sm-5 space_all">
              <div class="collect_1ll clearfix">
               <h4 class="mgt col_2">New Tools</h4>
               <h3>20% Off</h3>
               <h6><a class="button mgt" href="#"> Shop Now</a></h6>
              </div>
             </div>
             <div class="col-sm-7 space_right">
              <div class="collect_1lr clearfix">
               <a href="#"><img src="assets/template/img/14.jpg" alt="abc" class="iw"></a>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-4">
            <div class="collect_1l clearfix">
             <div class="col-sm-5 space_all">
              <div class="collect_1ll clearfix">
               <h4 class="mgt col_2">New Tools</h4>
               <h3>20% Off</h3>
               <h6><a class="button mgt" href="#"> Shop Now</a></h6>
              </div>
             </div>
             <div class="col-sm-7 space_right">
              <div class="collect_1lr clearfix">
               <a href="#"><img src="assets/template/img/15.jpg" alt="abc" class="iw"></a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </section>
       <section id="sell">
        <div class="container">
         <div class="row">
             <div class="sell_1_o clearfix">
                   <div class="col-sm-5 space_left sell_1_ol">
                      <h2 class="mgt">New Arrivals</h2>
                      <hr>
                   </div>
                   <div class="col-sm-7 space_left">
                       <!-- Controls -->
                      <div class="clearfix sell_1_or text-right">
                       <ul class="nav_1_tab">
                     <li class="active"><a data-toggle="tab" href="#home">NEW </a></li>
                     <li class=""><a data-toggle="tab" href="#menu1">TRENDING </a></li>
                     <li><a data-toggle="tab" href="#menu2">POPULAR </a></li>
            </ul>
                      </div>
                   </div>
               </div>
             <div class="tab-content clearfix">
               <div id="home" class="tab-pane fade  clearfix active in">
                        <div class="click clearfix">
                            <div class="sell_o_1 clearfix">
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/16.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">PRODUCT</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$45.00</span>
                                      <span class="span_3 col_1"> $34.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/17.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">OTHER</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$55.00</span>
                                      <span class="span_3 col_1"> $44.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/18.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">POPULAR</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$65.00</span>
                                      <span class="span_3 col_1"> $54.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/19.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">TRENDING</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$75.00</span>
                                      <span class="span_3 col_1"> $66.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                       </div>
                        </div>
           </div>
           <div id="menu1" class="tab-pane fade  clearfix">
                        <div class="click clearfix">
                            <div class="sell_o_1 clearfix">
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/20.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">PRODUCT</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$45.00</span>
                                      <span class="span_3 col_1"> $34.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/21.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">OTHER</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$55.00</span>
                                      <span class="span_3 col_1"> $44.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/22.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">POPULAR</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$65.00</span>
                                      <span class="span_3 col_1"> $54.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/23.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">TRENDING</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$75.00</span>
                                      <span class="span_3 col_1"> $66.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                       </div>
                        </div>
           </div>
           <div id="menu2" class="tab-pane fade  clearfix">
                        <div class="click clearfix">
                            <div class="sell_o_1 clearfix">
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/16.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">PRODUCT</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$45.00</span>
                                      <span class="span_3 col_1"> $34.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/17.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">OTHER</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$55.00</span>
                                      <span class="span_3 col_1"> $44.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/18.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">POPULAR</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$65.00</span>
                                      <span class="span_3 col_1"> $54.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/19.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">TRENDING</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$75.00</span>
                                      <span class="span_3 col_1"> $66.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                       </div>
                        </div>
           </div>
             </div>
         </div> 
        </div>
       </section>
       <section id="categories">
        <div class="container">
         <div class="row">
          <div class="categories_1 clearfix">
           <div class="col-sm-12">
            <h2 class="mgt">Listing</h2>
            <hr>
           </div>
          </div>
          <div class="categories_2 clearfix">
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/24.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Lorem Ipsum</a></h5>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/25.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Sed Augue</a></h5>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/26.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Nulla Quis</a></h5>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/27.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Ante Dapibus</a></h5>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/28.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Sed Cursus</a></h5>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="categories_2i text-center clearfix">
             <a href="#"><img src="assets/template/img/29.jpg" class="iw" alt="abc"></a>
             <h5><a href="#">Integer Nec</a></h5>
            </div>
           </div>
          </div>
         </div> 
        </div>
       </section>
       <section id="sell_n">
        <div class="container">
         <div class="row">
             <div class="sell_1_o clearfix">
                   <div class="col-sm-5 space_left sell_1_ol">
                      <h2 class="mgt">Hot Deals</h2>
                      <hr>
                   </div>
                   <div class="col-sm-7 space_left">
                       <!-- Controls -->
                      <div class="clearfix sell_1_or text-right">
                       
                      </div>
                   </div>
               </div>
             <div class="sell_o_1 clearfix">
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/20.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">PRODUCT</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$45.00</span>
                                      <span class="span_3 col_1"> $34.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/21.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">OTHER</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$55.00</span>
                                      <span class="span_3 col_1"> $44.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/22.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">POPULAR</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$65.00</span>
                                      <span class="span_3 col_1"> $54.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                               <div class="col-sm-3 space_left">
                                   <div class="arriv_2m clearfix">
                                     <div class="arriv_2m1 clearfix">
                                       <a href="#"><img src="assets/template/img/23.jpg" alt="abc" class="iw"></a>
                                     </div>
                                     <div class="arriv_2m2 clearfix">
                                      <h5 class="text-center mgt">New</h5>
                                     </div>
                                     <div class="arriv_2m2n clearfix">
                                      <h5 class="text-center mgt">Sale</h5>
                                     </div>
                                     <div class="arriv_2m3 clearfix">
                                      <h4 class="bold mgt">TRENDING</h4>
                                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                      <span class="span_1">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                      </span>
                                      <h3 class="normal">
                                      <span class="span_2">$75.00</span>
                                      <span class="span_3 col_1"> $66.00</span> 
                                      </h3>
                                     </div>
                                   </div>
                               </div>
                       </div>
         </div> 
        </div>
       </section>
       <section id="blog_home">
        <div class="container">
         <div class="row">
          <div class="Categ_1 clearfix">
           <div class="col-sm-12">
            <h3 class="mgt">Latest News</h3>
           <hr>
           </div>
          </div>
          <div class="blog_home_1 clearfix">
           <div class="col-sm-4">
            <div class="blog_home_1i clearfix">
             <a href="#"><img src="assets/template/img/30.jpg" class="iw" alt="abc"></a>
             <h5>By: <span class="normal">Admin - Sep 16, 2019</span></h5>
             <h3>Why People Choose</h3>
             <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
             <h5><a class="button" href="#">Continue</a></h5>
            </div>
           </div>
           <div class="col-sm-4">
            <div class="blog_home_1i clearfix">
             <a href="#"><img src="assets/template/img/31.jpg" class="iw" alt="abc"></a>
             <h5>By: <span class="normal">Admin - Oct 18, 2019</span></h5>
             <h3>Why People Choose</h3>
             <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
             <h5><a class="button" href="#">Continue</a></h5>
            </div>
           </div>
           <div class="col-sm-4">
            <div class="blog_home_1i clearfix">
             <a href="#"><img src="assets/template/img/32.jpg" class="iw" alt="abc"></a>
             <h5>By: <span class="normal">Admin - Nov 11, 2019</span></h5>
             <h3>Why People Choose</h3>
             <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
             <h5><a class="button" href="#">Continue</a></h5>
            </div>
           </div>
          </div>
         </div>
        </div>
       </section>
       <section id="connect" class="clearfix">
        <div class="container">
         <div class="row">
          <div class="col-sm-12 space_all">
           <div class="connect_1 clearfix">
            <div class="col-sm-3 connect_1m">
             <div class="connect_1l clearfix">
               <span><i class="fa fa-truck"></i></span>
             </div>
             <div class="connect_1r clearfix">
              <h4>Miễn phí vận chuyển </h4>
              <p>Miễn phí toàn quốc</p>
             </div>
            </div>
            <div class="col-sm-3 connect_1m">
             <div class="connect_1l clearfix">
               <span><i class="fa fa-headphones"></i></span>
             </div>
             <div class="connect_1r clearfix">
              <h4>Hỗ trợ  24/7</h4>
              <p>Liên hệ với chúng tôi 24 giờ</p>
             </div>
            </div>
            <div class="col-sm-3 connect_1m">
             <div class="connect_1l clearfix">
               <span><i class="fa fa-credit-card"></i></span>
             </div>
             <div class="connect_1r clearfix">
              <h4>Thanh toán </h4>
              <p>Bảo mật thanh toán 100%</p>
             </div>
            </div>
            <div class="col-sm-3 connect_1m border_none">
             <div class="connect_1l clearfix">
               <span><i class="fa fa-shopping-cart"></i></span>
             </div>
             <div class="connect_1r clearfix">
              <h4>Hoàn trả</h4>
              <p>Đổi trả dễ dàng</p>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </section>