<section id="top">
    <div class="container">
     <div class="row">
      <div class="top_1 clearfix">
       <div class="col-sm-3">
      <div class="top_1l clearfix">
       <p class="mgt small">Chào mừng bạn đến với cửa hàng !</p>
      </div>
     </div>
     <div class="col-sm-9">
      <div class="top_1r clearfix">
       <ul class="nav navbar-nav nav_1 mgt navbar-right">
           <li class="dropdown bord_l">
                 <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Cài Đặt<span class="caret"></span></a>
                 <ul class="dropdown-menu drop_1" role="menu">
                 <li><a href="#">Thanh Toán</a></li>
                 <li><a href="#">Tài Khoản Của Tôi</a></li>
                 <li><a href="#"> Giỏ Hàng</a></li>
                 <li><a href="#">Danh Sách Yêu Thích</a></li>
                 </ul>
               </li>
           <!-- <li class="dropdown bord_l">
                 <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">$ USD<span class="caret"></span></a>
                 <ul class="dropdown-menu drop_1" role="menu">
                 <li><a href="#">EUR – Euro</a></li>
                 <li><a href="#">GBP – British Pound</a></li>
                 <li><a href="#">INR – India Rupee</a></li>
                 </ul>
               </li> -->
           <li class="dropdown bord_l">
                 <a class="font_tag border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Tiếng Việt<span class="caret"></span></a>
                 <ul class="dropdown-menu drop_1" role="menu">
                 <li><a href="#"><i class="fa fa-flag"></i> Tiếng Việt</a></li>
                 <li><a href="#"><i class="fa fa-flag"></i> English</a></li>
                 </ul>
               </li>
           <li class="bord_l border_none"><a class="font_tag" href="#"><i class="fa fa-repeat"></i> Compare (0)</a></li>
         </ul>
      </div>
     </div>
      </div>
     </div>
    </div>
   </section>